<aside class="sidebar">
  <div class="sidebar__header">
    <img src="../assets/images/sidebar-header.jpg" alt="Sidebar header">
  </div>

  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="../assets/images/avatar.jpg" alt="Avatar">
      <div class="profile__name">Андрей Устинов</div>
      <div class="profile__profession">Frontend-разработчик</div>

      <ul class="social">
        <li class="social__item"><a href="#" class="social__link" target="_blank"><img src="../assets/images/social/instagram.svg" alt="Icon: instagram"></a></li>
        <li class="social__item"><a href="#" class="social__link" target="_blank"><img src="../assets/images/social/vk.svg" alt="Icon: vk"></a></li>
        <li class="social__item"><a href="#" class="social__link" target="_blank"><img src="../assets/images/social/pinterest.svg" alt="Icon: pinterest"></a></li>
      </ul>

      <div class="profile__text">
        <p>Frontend-разработчик, верстальщик.
          Занимаюсь созданием сайтов различной сложности.
        </p>
      </div>
    </div>
    <!-- /.profile -->
  </div>
  <!-- /.sidebar__content -->

  <div class="sidebar__footer">
    <a class="btn btn--red" href="#">Мои работы</a>
    <button class="btn btn--blue" type="button">Написать мне</button>
  </div>
</aside>